{% assign items = include.items %}

<ul class="nav-list">
  {% for item in items %}
    <li class="nav-list-item{% if item.active %} active{% endif %}">
      {% if item.children %}
        <button class="nav-list-expander" aria-label="Toggle {{ item.title }} submenu" aria-pressed="false">
          <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
        </button>
      {% endif %}
      <a href="{{ item.url | relative_url }}" class="nav-list-link{% if item.active %} active{% endif %}">{{ item.title }}</a>
      {% if item.children %}
        {% include nav.html items=item.children %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
