[mysqld]
basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
port=3306
socket=/usr/local/mysql/mysql.sock
character_set_server=utf8mb4

wait_timeout=360000

log-bin=/usr/local/mysql/data/binlog
log-bin-index=/usr/local/mysql/data/binlog.index

# 每个节点必须不同
server-id = 208

gtid-mode=on
enforce-gtid-consistency=on
master-info-repository=TABLE
relay-log-info-repository=TABLE
binlog-checksum=none
log-slave-updates=on
binlog-format=ROW

transaction-write-set-extraction=XXHASH64
loose-group_replication_group_name='7e6fe64a-3bc0-4117-9cac-2439f9c3f19e'
loose-group_replication_start_on_boot=off
loose-group_replication_local_address='10.154.8.113:33061'
loose-group_replication_group_seeds='10.154.8.113:33061,10.154.8.130:33062,10.154.8.149:33063'
loose-group_replication_bootstrap_group=off

[mysqld_safe]
log-error=/usr/local/mysql/data/error.err
pid-file=/usr/local/mysql/data/mysql.pid

!includedir /etc/my.cnf.d
