---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  <div class="side-bar">
    <div class="site-header">
      <a href="{{ '/' | relative_url }}" class="site-title lh-tight">{% include title.html %}</a>
      <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
        <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
      </button>
    </div>
    <nav aria-label="Main" id="site-nav" class="site-nav">
      {% include nav.html items=site.data.navigation %}
    </nav>
  </div>
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <div class="page">
          {% unless page.url == "/" %}
            <h1 class="page-title">{{ page.title }}</h1>
          {% endunless %}
          {{ content }}
        </div>
      </div>
      {% include components/footer.html %}
    </div>
  </div>
  {% include components/search_footer.html %}
</body>
</html>
